    body {
        background-color: #FCF6F5FF;
    }
    
    .container {
        display: none;
    }
    
    #border-left {
        top: 0;
        left: 0;
        height: 300px;
        width: 300px;
        position: absolute;
    }
    
    #border-right {
        top: 0;
        right: 0;
        height: 300px;
        width: 300px;
        position: absolute;
    }
    
    footer {
        bottom: 20px;
        right: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        position: fixed;
    }
    
    footer .name {
        text-align: right;
        line-height: 1.25;
        font-weight: bold;
        font-size: 18px;
        color: #000;
    }
    
    .message {
        display: none;
        position: absolute;
        top: 30%;
    }
    
    .message p {
        font-family: 'Lobster', cursive;
        font-size: 44px;
        text-align: center;
        text-transform: uppercase;
        color: #2BAE66FF;
        text-shadow: 2px 2px 2px #e0a3eb;
        display: none;
        font-weight: bold;
    }
    
    .Banner {
        display: none;
        top: 10px;
        text-align: center;
        margin: auto;
        left: 0;
        right: 0;
        position: relative;
    }
    
    .Banner h1 {
        text-align: center;
        font-family: 'Berkshire Swash', cursive;
        font-size: 90px;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px #ffffff;
        color: #2BAE66FF;
    }
    
    .bannerAnimation {
        -webkit-animation: banner-Flash linear 8s infinite;
        -moz-animation: banner-Flash linear 8s infinite;
        -o-animation: banner-Flash linear 8s infinite;
        animation: banner-Flash linear 8s infinite;
    }
    
    @keyframes banner-Flash {
        25% {
            opacity: 0.5;
        }
        75% {
            color: #e0a3eb;
            opacity: 1;
        }
        50% {
            opacity: 0.2;
        }
        100% {
            color: #e037e0;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes banner-Flash {
        25% {
            opacity: 0.5;
        }
        75% {
            color: #e0a3eb;
            opacity: 1;
        }
        50% {
            opacity: 0.2;
        }
        100% {
            color: #e037e0;
            opacity: 1;
        }
    }
    
    @-moz-keyframes banner-Flash {
        25% {
            opacity: 0.5;
        }
        75% {
            color: #e0a3eb;
            opacity: 1;
        }
        50% {
            opacity: 0.2;
        }
        100% {
            color: #e037e0;
            opacity: 1;
        }
    }
    
    @-o-keyframes banner-Flash {
        25% {
            opacity: 0.5;
        }
        75% {
            color: #e0a3eb;
            opacity: 1;
        }
        50% {
            opacity: 0.2;
        }
        100% {
            color: #e037e0;
            opacity: 1;
        }
    }
    
    .card {
        position: relative;
        margin: auto;
        max-width: 400px;
        height: 450px;
        top: 30%;
        left: 0;
        right: 0;
        border: 15px solid #EDC2D8FF;
        margin: 50px auto 0 auto;
        box-shadow: inset 10px 0px 15px 0px #001;
        background-color: #8ABAD3FF;
        display: none;
    }
    
    .card .text {
        width: 80%;
        height: 100%;
        top: 0;
        margin: auto;
        color: #EDC2D8FF;
    }
    
    .card p {
        font-size: 20px;
        line-height: 1.5;
        font-family: 'Lobster', cursive;
        color: #EDC2D8FF;
        font-style: italic;
        text-align: center;
        margin: auto;
    }
    
    .card .cover-img {
        height: 100%;
        width: 100%;
        margin: auto;
    }
    
    .card .front {
        position: absolute;
        width: 110%;
        height: 110%;
        border: 15px solid #EDC2D8FF;
        margin: -13px 0px 0px -13px;
        backface-visibility: hidden;
        background-color: #8ABAD3FF;
        transform-origin: 0% 50%;
        transform: perspective(1000px) rotateY(0deg);
        transition: all 1s ease-in-out;
    }
    
    .card:hover .front {
        transform: perspective(1000px) rotateY(-170deg);
        background-color: #8ABAD3FF;
    }
    
    .card:hover .back {
        transform: perspective(1000px) rotateY(-170deg);
        box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px #001;
        background-color: #8ABAD3FF;
    }
    
    .card .back {
        position: absolute;
        width: 110%;
        height: 110%;
        border: 15px inset #EDC2D8FF;
        backface-visibility: visible;
        margin: -13px 0px 0px -13px;
        filter: drop-shadow(2px 2px 4px #001);
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
        transform: perspective(1000px) rotateY(0deg);
        transition: all 1s ease-in-out;
        background-color: #8ABAD3FF;
        box-shadow: 0px 0px 0px 0px #000011;
    }
    
    .btn {
        padding: 20px;
        font-family: 'Grandstander', sans-serif;
        text-transform: uppercase;
        font-size: 3em;
        font-weight: bold;
        color: #FCF6F5FF;
        background-color: #2BAE66FF;
        position: fixed;
        bottom: 20%;
        cursor: pointer;
    }
    
    .btn-Center {
        text-align: center
    }
    
    .btn:hover,
    .btn:focus,
    .btn:active,
    .btn.active {
        color: #FCF6F5FF;
        background: #59fd3c;
        box-shadow: 0 0 50px #2bf024;
    }
    
    .flip-card {
        width: 300px;
        height: 300px;
        perspective: 1000px;
        display: none;
        position: fixed;
        right: 0;
        top: 40%;
    }
    
    .flip-card-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        font-family: 'Lobster', sans-serif;
        text-align: center;
        transition: transform 1s;
        transform-style: preserve-3d;
        box-shadow: 2px 4px 8px 0 #e0a3eb;
        margin: auto;
    }
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .flip-card-front {
        background-color: #EDC2D8FF;
        color: #8ABAD3FF;
    }
    
    .flip-card-front img {
        margin: auto;
        width: 90%;
        height: 70%;
    }
    
    .flip-card-back {
        background-color: #EDC2D8FF;
        color: #8ABAD3FF;
        transform: rotateY(180deg);
    }
    
    .background_add {
        -webkit-animation: background_card linear 8s infinite;
        -moz-animation: background_card linear 8s infinite;
        -o-animation: background_card linear 8s infinite;
        -ms-animation: background_card linear 8s infinite;
        animation: background_card linear 8s infinite;
    }
    
    @-webkit-keyframes background_card {
        0% {
            background-color: #FCF6F5FF;
        }
        25% {
            background-color: #EFEFE8FF;
        }
        50% {
            background-color: #DFDCE5FF;
        }
        75% {
            background-color: #FCF6F5FF;
        }
        100% {
            background-color: #F1F3FFFF;
        }
    }
    
    @-moz-keyframes background_card {
        0% {
            background-color: #FCF6F5FF;
        }
        25% {
            background-color: #EFEFE8FF;
        }
        50% {
            background-color: #DFDCE5FF;
        }
        75% {
            background-color: #FCF6F5FF;
        }
        100% {
            background-color: #F1F3FFFF;
        }
    }
    
    @-o-keyframes background_card {
        0% {
            background-color: #FCF6F5FF;
        }
        25% {
            background-color: #EFEFE8FF;
        }
        50% {
            background-color: #DFDCE5FF;
        }
        75% {
            background-color: #FCF6F5FF;
        }
        100% {
            background-color: #F1F3FFFF;
        }
    }
    
    @-ms-keyframes background_card {
        0% {
            background-color: #FCF6F5FF;
        }
        25% {
            background-color: #EFEFE8FF;
        }
        50% {
            background-color: #DFDCE5FF;
        }
        75% {
            background-color: #FCF6F5FF;
        }
        100% {
            background-color: #F1F3FFFF;
        }
    }
    
    @keyframes background_card {
        0% {
            background-color: #FCF6F5FF;
        }
        25% {
            background-color: #EFEFE8FF;
        }
        50% {
            background-color: #DFDCE5FF;
        }
        75% {
            background-color: #FCF6F5FF;
        }
        100% {
            background-color: #F1F3FFFF;
        }
    }
    
    .balloons {
        position: absolute;
        display: none;
        bottom: -800px;
        opacity: 0.5;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat no-repeat;
    }
    
    .balloons-rotate {
        -webkit-animation: balloons_rotate_one linear 8s infinite;
        -webkit-transform: rotate(30deg);
        -moz-animation: balloons_rotate_one linear 8s infinite;
        -moz-transform: rotate(30deg);
        -o-animation: balloons_rotate_one linear 8s infinite;
        -o-transform: rotate(30deg);
        -ms-animation: balloons_rotate_one linear 8s infinite;
        -ms-transform: rotate(30deg);
        animation: balloons_rotate_one linear 8s infinite;
        transform: rotate(30deg);
    }
    
    @-webkit-keyframes balloons_rotate_one {
        0% {
            transform: rotate(30deg);
        }
        50% {
            transform: rotate(-30deg);
        }
        100% {
            transform: rotate(30deg);
        }
    }
    
    @-moz-keyframes balloons_rotate_one {
        0% {
            transform: rotate(30deg);
        }
        50% {
            transform: rotate(-30deg);
        }
        100% {
            transform: rotate(30deg);
        }
    }
    
    @-o-keyframes balloons_rotate_one {
        0% {
            transform: rotate(30deg);
        }
        50% {
            transform: rotate(-30deg);
        }
        100% {
            transform: rotate(30deg);
        }
    }
    
    @-ms-keyframes balloons_rotate_one {
        0% {
            transform: rotate(30deg);
        }
        50% {
            transform: rotate(-30deg);
        }
        100% {
            transform: rotate(30deg);
        }
    }
    
    @keyframes balloons_rotate_one {
        0% {
            transform: rotate(30deg);
        }
        50% {
            transform: rotate(-30deg);
        }
        100% {
            transform: rotate(30deg);
        }
    }
    
    audio {
        display: none;
    }